.auth-form {
  max-width: 400px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.auth-form h2 {
  margin-bottom: 20px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-bottom: 10px;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
/* Button styles */
.auth-form button {
  width: 100%;
  padding: 10px 0;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button hover effect */
.auth-form button:hover {
  background-color: #0056b3;
}

/* Link styles */
.auth-form p {
  text-align: center;
}

.auth-form a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

/* Link hover effect */
.auth-form a:hover {
  color: #0056b3;
}